<script type="text/javascript" src="/hackton/rally/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/hackton/rally/assets/js/materialize.js"></script>
<script type="text/javascript" src="/hackton/rally/assets/js/init.js"></script>
<script>
    $(document).ready(function () {
        $('#formCadastro').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serializeArray();
            $.ajax({
                url: '/hackton/rally/model/cadastrar_equipe.php',
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function (data) {
                    if (data.return) {
                        alert(data.mensagem);
                        window.location = "/hackton/rally/?page=login";
                    } else {
                        alert(data.mensagem);
                        $(this).reset();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('ERRORS: ' + textStatus);
                }
            });
        });
        $('#formLogin').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serializeArray();
            $.ajax({
                url: '/hackton/rally/model/login.php',
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function (data) {
                    if (data.return) {
                        alert(data.mensagem);
                        window.location = "/hackton/rally/";
                    } else {
                        alert(data.mensagem);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('ERRORS: ' + textStatus);
                }
            });
        });
    });

    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>