<div class="carousel">
    <?php if(isset($_SESSION['EUA'])){ ?>
    <a class="carousel-item"
       href="/hackton/rally/?page=prova&fase1=d3859a29afdce6aff98924d752a8a02dd87c8072">
        <img src="/hackton/rally/assets/img/pais/pais_eua.png">
    </a>
    <?php }else{?>
    <a class="carousel-item" href="#">
        <img src="/hackton/rally/assets/img/pais/pais_eua2.png">
    </a>
    <?php }?>
    <?php if(isset($_SESSION['SUICA'])){ ?>
    <a class="carousel-item" 
       href="/hackton/rally/?page=prova&fase1=99bf700725cd81e20a1d6712fdaf399868b19b17">
        <img src="/hackton/rally/assets/img/pais/pais_suica.png">
    </a>
    <?php }else{?>
    <a class="carousel-item" href="#">
        <img src="/hackton/rally/assets/img/pais/pais_suica2.png">
    </a>
    <?php }?>
    <?php if(isset($_SESSION['ALEMANHA'])){ ?>
    <a class="carousel-item" 
       href="/hackton/rally/?page=prova&fase1=ec56686b6d12635749c64ba1b18fdbbc849531e2">
        <img src="/hackton/rally/assets/img/pais/pais_alemanha.png">
    </a>
    <?php }else{?>
    <a class="carousel-item" href="#">
        <img src="/hackton/rally/assets/img/pais/pais_alemanha2.png">
    </a>
    <?php }?>
    <?php if(isset($_SESSION['BRASIL'])){ ?>
    <a class="carousel-item" 
       href="/hackton/rally/?page=prova&fase1=30cbdef1cb935318cbd94c9fed17658d76f8a71a">
        <img src="/hackton/rally/assets/img/pais/pais_brasil.png">
    </a>
    <?php }else{?>
    <a class="carousel-item" href="#">
        <img src="/hackton/rally/assets/img/pais/pais_brasil2.png">
    </a>
    <?php }?>
    <?php if(isset($_SESSION['AUSTRALIA'])){ ?>
    <a class="carousel-item" 
       href="/hackton/rally/?page=prova&fase1=35091c29bc2851c6a120d1d891c060095fa7d853">
        <img src="/hackton/rally/assets/img/pais/pais_australia.png">
    </a>
    <?php }else{?>
    <a class="carousel-item" href="#">
        <img src="/hackton/rally/assets/img/pais/pais_australia2.png">
    </a>
    <?php }?>
</div>

