<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="hackton/rally/assets/img/pais/pais_eua"></a>
    <a class="carousel-item" href="#two!"><img src="hackton/rally/assets/img/pais/pais_suica"></a>
    <a class="carousel-item" href="#three!"><img src="hackton/rally/assets/img/pais/pais_alemanha"></a>
    <a class="carousel-item" href="#four!"><img src="hackton/rally/assets/img/pais/pais_brasil"></a>
    <a class="carousel-item" href="#five!"><img src="hackton/rally/assets/img/pais/pais_australia"></a>
</div>

