<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Through the code and flames">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="/rally/assets/img/favicon.png';?>">
    <link type="image/x-icon" rel="icon" href="/rally/assets/img/favicon.png" >

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" type="text/css" href="/rally/assets/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/rally/assets/css/style.css">

    <title>Rally do Conhecimento</title>
</head>