<div class="container">
    <form id="formPerguntas">
        <?php for($i=$de;$i<=$ate;$i++){ ?>
        <h3>Questão <?php echo $i ?>:</h3>
        <p style="color:#000"><i class="material-icons"></i><?php echo $pergunta[$i] ?></p>
        <?php for($j=0;$j<count($resposta[$i]);$j++){ ?>
        <p >
            <input name="group<?php echo $i; ?>" type="radio" id="test<?php echo $value[$i][$j]; ?>" value="<?php echo $value[$i][$j]; ?> "/>
            <label style="height: auto" for="test<?php echo $value[$i][$j]; ?>"> <?php echo $resposta[$i][$j]; ?></label>
        </p>
        <?php } ?>
        <?php } ?>
        <button class="btn waves-effect waves-light" type="submit" name="action"> 
            <i class="material-icons right">send</i>Enviar
        </button>
    </form>
</div>
