<h5>Sua Pontuação: <?php echo $pontuacao; ?></h5>
<div class="container">

    <table   class="striped highlight bordered" > 
        <thead>
            <tr>
                <th>Q</th>
                <th>R</th>
            </tr>

        </thead>

        <tbody>
            <?php while($resposta = $result->fetch_object()){ ?>
            <tr>
                <td><?php echo $resposta->id_pergunta; ?></td>
                <td><?php echo $resposta->alternativa; ?></td>
            </tr>
            <?php } ?>
        </tbody>
    </table>
</div>
