<h5>Sua Pontuação: <?php echo $pontuacao; ?></h5>
<div class="container">

    <table   class="striped highlight bordered" > 
        <thead>
            <tr>
                <th>Q</th>
                <th>R</th>
            </tr>

        </thead>

        <tbody>
            <?php while($resposta = $result->fetch_object()){ ?>
            <tr>
                <td><?php echo $resposta->id_pergunta; ?></td>
                <td><?php echo $resposta->alternativa; ?></td>
            </tr>
            <?php } ?>
        </tbody>
    </table>
</div>
<div class="container center-align">
        <h5>Abra o aplicativo QR Code e faça o seu check-in</h5>
        <small>OU</small>
        <a href="/rally/index.php?page=rally">Volte a Página Inicial</a>
    </div>