<div class="container">
    <form>
        <h1>Preencha os campos a seguir</h1>
        <input type='text' id='nomeEquipe' class='nomeEquipe' placeholder='Nome da equipe'>
        <input type='text' id='nomeLider' class='nomeLider' placeholder='Nome do Líder'>
        <input type='phone' id='raLider' class='raLider' placeholder='RA do Líder'>
        <input type='password' id='senha' class='senha' placeholder='Senha para login'><br>

        <input type='text' id='nome1' name='nome1' placeholder='Nome membro 1'>
        <input type='phone' id='ra1' name='ra1' placeholder='RA membro 1'><br>
        <input type='text' id='nome2' name='nome2' placeholder='Nome membro 2'>
        <input type='phone' id='ra2' name='ra2' placeholder='RA membro 2'><br>

        <p>Equipe Caracterizada</p>
        <input type='radio' id='equipeCarac'>Sim<br>
        <input type='radio' id='equipeNCarac'>Não<br>
    </form>
</div>