<nav class="nav-extended" style="background-color: #2bbbad">

 
    <div class="nav-wrapper container">
        
       
        
    </div>
    <div class="nav-header center">
        <h3>Seja bem vindo</h3>
        <div class="tagline">AO RALLY DO CONHECIMENTO!</div>
    </div>
</nav>

<div class="parallax-container center-align">
    <div class="clearfix" style="margin: 50px 0px 200px 0px">
        <h3 style="color: #2F4F4F">CLIQUE NO BOTÃO E CADASTRE-SE</h3>
        <a href="/hackton/rally/?page=cadastro">
            <button class="btn" type="button">CADASTRO</button>
        </a>
    </div>
    <div class="clearfix" style="margin: 200px 0px">
        <h3 style="color: #2F4F4F">OU FAÇA SEU LOGIN</h3>
        <a href="/hackton/rally/?page=login">
            <button class="btn" type="button">LOGIN</button>
        </a>
    </div>
    <div class="parallax"><img src="assets/img/conhecimento.jpg" style="opacity: 0.2"></div>
</div>