<?php include $root.'/view/common/header.html'; ?>
<body>
    <div class="carousel">
        <?php if($_SESSION['EUA']){ ?>
        <a class="carousel-item" href="#">
            <img src="/rally/assets/img/pais/pais_eua.png">
        </a>
        <?php }if($_SESSION['SUICA']){ ?>
        <a class="carousel-item" href="#">
            <img src="/rally/assets/img/pais/pais_suica.png">
        </a>
        <?php }if($_SESSION['ALEMANHA']){ ?>
        <a class="carousel-item" href="#">
            <img src="/rally/assets/img/pais/pais_alemanha.png">
        </a>
        <?php }elseif($_SESSION['BRASIL']){ ?>
        <a class="carousel-item" href="#">
            <img src="/rally/assets/img/pais/pais_brasil.png">
        </a>
        <?php }elseif($_SESSION['AUSTRALIA']){ ?> 
        <a class="carousel-item" href="#">
            <img src="/rally/assets/img/pais/pais_australia.png">
        </a>
        <?php } ?>
    </div>
    <div class="container center-align">
        <h5>Abra o aplicativo QR Code e faça o seu check-in</h5>
        <small>OU</small>
        <a href="/rally?page=rally">Volte a Página Inicial</a>
    </div>
    <?php include $root.'/view/common/bottom.html'; ?>
</body>